/*
 * ============================================================================================================
 * TimeZone Employee Management & Time Clock V.2
 * Release Date: August 2014
 * Exclusive to CodeCanyon: http://codecanyon.net/item/timezone-employee-management-time-clock/6682629
 * Author: http://codecanyon.net/user/Luminary
 * Author URI: http://jenniferperrin.com
 * ============================================================================================================
 */

/* ==========================================
	Alert Notifications
   ========================================== */
.alertMsg {
    font-size: 16px;
    line-height: 1.5em;
    margin: 0 auto 20px;
    padding: 10px 20px;
    position: relative;
	max-width: 1600px;
	transition: background 0.5s ease 0s;
}
	.alertMsg i {
		font-size: 18px;
		margin-right: 10px;
	}

.alertMsg .alert-close {
    background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAwAAAAMCAQAAAD8fJRsAAAAXElEQVR4XnXPsQ1AIQgE0KsYAWf6NDoClfuP8CGAFEY63sUcwobwgVHDtlHwxIaCk9W26ZEY74iccxP0Ag3u96Pg8HDO6Oau7K6bO3qXv88lrKzsM1b9XYIzEucf0sMh9ZVCt9gAAAAASUVORK5CYII=) no-repeat scroll 0 0 transparent;
    display: block;
    height: 12px;
    opacity: 0.4;
    overflow: hidden;
    position: absolute;
    right: 10px;
    text-indent: -999px;
    top: 15px;
    width: 12px;
}
	.alertMsg .alert-close:hover { opacity: 1; }

.alertMsg.default {
    background-color: #f0f0f0;
    border: 1px #f0f0f0 solid;
    color: #535a6c;
}
	.alertMsg.default:hover { background-color: #fcfcfc; border: 1px #fcfcfc solid; }
.alertMsg.primary {
    background-color: #3498db;
    border: 1px #3498db solid;
    color: #ffffff;
}
	.alertMsg.primary:hover { background-color: #4ea4db; border: 1px #4ea4db solid; }
.alertMsg.info {
    background-color: #01b6ad;
    border: 1px #01b6ad solid;
    color: #ffffff;
}
	.alertMsg.info:hover { background-color: #3fc1be; border: 1px #3fc1be solid; }
.alertMsg.success {
    background-color: #27ae60;
    border: 1px #27ae60 solid;
    color: #ffffff;
}
	.alertMsg.success:hover { background-color: #44b96d; border: 1px #44b96d solid; }
.alertMsg.warning {
    background-color: #d9a819;
    border: 1px #d9a819 solid;
    color: #ffffff;
}
	.alertMsg.warning:hover { background-color: #ffc61d; border: 1px #ffc61d solid; }
.alertMsg.danger {
    background-color: #f6504d;
    border: 1px #f6504d solid;
    color: #ffffff;
}
	.alertMsg.danger:hover { background-color: #f26c6b; border: 1px #f26c6b solid; }
.alertMsg.inverse {
    background-color: #535a6c;
    border: 1px #535a6c solid;
    color: #ffffff;
}
	.alertMsg.inverse:hover { background-color: #464c5b; border: 1px #464c5b solid; }

/* ==========================================
	Responsive Tables
  ========================================== */
.rwd-table {
    background: transparent;
    color: #777777;
    border-radius: 0;
    overflow: hidden;
	margin: 0;
    width: 100%;
	font-size: 85%;
}

.rwd-table tr {
    border-color: #46627f;
	border-top: 1px solid #dddddd;
    border-bottom: 1px solid #dddddd;
}
	.rwd-table tr:first-child { border-top: 0; }

.rwd-table td { display: block; }
	.rwd-table td:first-child { padding-top: .5em; }
	.rwd-table td:last-child { padding-bottom: .5em; }
	.rwd-table td:before {
		content: attr(data-th)": ";
		font-weight: 400;
		width: 35%;
		display: inline-block;
	}

.rwd-table th { display: none; }

.rwd-table th, .rwd-table td {
    margin: .5em 1em;
	text-align: left;
}

	.rwd-table th, .rwd-table td:before { color: #444444; font-weight: 400; }
	.rwd-table th { background: #fbfbfb; border-top: 1px solid #dddddd; text-transform: uppercase; }
		.rwd-table th:first-child { border-left: 0; }
		.rwd-table th:last-child { text-align: right; border-right: 0; }

	.rwd-table td { background: #ffffff; }
		.rwd-table td:first-child { border-left: 0; }
		.rwd-table td:last-child { text-align: right; border-right: 0; }
		.rwd-table td i { margin-left: 4px; color: #999999; }
		.rwd-table td i.disabled { margin-left: 4px; color: #cccccc; }

	.rwd-table td span i.edit:hover { color: #ffc61d; }
	.rwd-table td span i.reopen:hover { color: #00a65a; }
	.rwd-table td span i.remove:hover { color: #f56954; }
	.rwd-table td span i.print:hover { color: #3c8dbc; }

@media (min-width:768px) {
    .rwd-table th, .rwd-table td { padding: .25em .5em !important; }
		.rwd-table td:before { display: none; }
	.rwd-table th, .rwd-table td {
        display: table-cell;
        padding: .25em .5em;
    }
		.rwd-table th:first-child, .rwd-table td:first-child { padding-left: 0; }
		.rwd-table th:last-child, .rwd-table td:last-child { padding-right: 0; }
}
@media (max-width:767px) {
	.rwd-table { margin-top: 20px; }
	.rwd-table td:last-child { text-align: left; }
}

/* ==========================================
	Info Lists Tables
  ========================================== */
table.infoTable {
    border-collapse: collapse;
    border-spacing: 0;
	margin: 0;
}

.infoTable td {
    font-size: 14px;
    padding: 4px 0 4px 10px;
}

.infoTable {
    display: table;
    width: 100%;
}
	.infoTable i {
		font-size: 14px;
		margin-right: 6px;
	}

.infoKey {
	background: none repeat scroll 0 0 #fcfcfc;
	border: 1px solid #dcdcdc;
    text-align: left;
    vertical-align: top;
    width: 30%;
	font-weight: 400;
}
	.infoKey.sm { width: 35px; }

.infoVal { text-align: left; border: 1px solid #dcdcdc; background: #ffffff; vertical-align:text-top; }
	.infoVal span {
		color: #888888;
		margin-left: 10px;
		margin-right: 6px;
	}

.infoVal.highlight {
    color: #cc3d3d;
    font-weight: 400;
}

@media (max-width:767px) {
	.infoTable td i { display: none; }
}

/* ==========================================
	Task Lists
   ========================================== */
.task-item { border-bottom: 1px solid #f0f0f0; padding: 10px 0; }
	.task-item:first-of-type { padding-top: 0; }
	.task-item:last-of-type { border-bottom: 0; padding-bottom: 0; }

.task-item h4 {
	margin-bottom: 0;
	padding-bottom: 0;
	text-transform: none;
	border: 0;
}
	.task-item h4 span {
		font-size: 70%;
		color: #999999;
		padding-top: 4px;
	}
.task-item p {
	margin: 0;
	font-size: 14px;
}
	.task-item p.infoLabels {
		color: #3498db;
		font-size: 14px;
	}

/* ==========================================
	Dashboard Notices
   ========================================== */
.notices p {
	margin: 0;
	font-size: 14px;
}
	.notices p.infoLabels {
		color: #3498db;
		font-size: 14px;
	}

/* ==========================================
	Search Results
   ========================================== */
.search-box {
	margin-bottom: 10px;
	padding: 5px 0 15px;
	border: 0;
	border-bottom: 1px solid #f0f0f0;
}
	.search-box:last-of-type { margin-bottom: 0 !important; border-bottom: 0; }

.section-box h4 {
	margin: 0;
	padding: 4px 0 0 0;
	font-weight: 400;
	background: transparent;
	border-bottom: 0;
	color: #535a6c;
}
	.section-box h4 span {
		font-size: 15px;
		font-weight: 300;
		font-family: 'Open Sans', Arial, sans-serif;
		color: #999999;
	}
.section-box p { font-size: 14px; margin-bottom: 0; }
	.section-box p i { margin-right: 6px; color: #999999; }

.avatarSearch {
	max-height: 100%;
	max-width: 100%;
}

/* ==========================================
	Public Profile
   ========================================== */
.profileBox {
    background: #ffffff;
    overflow: hidden;
    margin: 20px 0;
    position: relative;
	-webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
       -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
			box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
}
.cover {
	background: url("../images/bg-profile.png") repeat scroll 0 0 #232323;
    height: 110px;
    border-bottom: 5px solid #3498db;
    position: relative;
    -webkit-box-shadow: 0px 5px 5px -5px rgba(50, 50, 50, 0.3);
       -moz-box-shadow: 0px 5px 5px -5px rgba(50, 50, 50, 0.3);
			box-shadow: 0px 5px 5px -5px rgba(50, 50, 50, 0.3);
}
.cover .avatar {
    position: absolute;
    background: #ffffff;
    border: 5px solid #232323;
    top: 40px;
    left: 0;
    right: 0;
    margin: 0 auto;
    width: 150px;
    height: 150px;
    overflow: hidden;
    -webkit-box-shadow: 0px 5px 5px -5px rgba(50, 50, 50, 0.3);
       -moz-box-shadow: 0px 5px 5px -5px rgba(50, 50, 50, 0.3);
			box-shadow: 0px 5px 5px -5px rgba(50, 50, 50, 0.3);
}
	.publicAvatar { padding: 5px; height: 140px; width: 140px; }

.profileBody {
    padding: 95px 10px 10px;
    text-align: center;
}
	.userProfBody {
		-webkit-box-shadow: none;
		   -moz-box-shadow: none;
				box-shadow: none;
	}

.profileBody h1 {
    color: #535a6c;
    font-size: 30px;
	font-weight: 300;
    margin-bottom: -3px;
	border: 0;
}
.profileBody h4 {
    margin-bottom: 0;
	border: 0;
	color: #3498db;
}
.profileBody p {
	text-align: center;
	margin: 0 0 10px;
}
.profileComments {
	height: 90px !important;
	min-height: 90px !important;
}

blockquote {
    border-left: 0;
    font-size: 18px;
	text-align: center;
    margin: 0;
    padding: 0;
	color: #535a6c;
}
.icon-quote {
    color: #cccccc;
    padding: 0 6px;
}

.myProfileAvatar {
	background: none repeat scroll 0 0 #ffffff;
	border: 2px solid #dcdcdc;
	max-height: 90px;
	max-width: 90px;
	padding: 4px;
	float: left;
	margin-right: 20px;
	margin-bottom: 20px;
}

/* ==========================================
	Dashboard Info Blocks
   ========================================== */
.container .dashBlks {
    margin-bottom: 30px;
    clear: left;
}
.dashBlk {
    background: #ffffff;
    width: 100%;
    min-height: 150px;
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
}
.iconBlk {
    float: left;
    background: #fdfdfd;
    min-width: 120px;
    height: 150px;
    text-align: center;
}
	.iconBlk i {
		font-size: 80px;
		line-height: 140px;
		color: #ffffff;
		color: rgba(255, 255, 255, 0.4);
	}
	.iconBlk.primary { background-color: #3498db; }
	.iconBlk.info { background-color: #01b6ad; }
	.iconBlk.success { background-color: #27ae60; }
	.iconBlk.warning { background-color: #ffc61d; }
	.iconBlk.danger { background-color: #f6504d; }

.contentBlk {
	text-align: center;
	padding: 20px 5px;
}

.empInfoBlk {
	text-align: center;
	padding: 20px 5px;
	min-height: 150px;
}

@media (max-width: 1000px) {
	.col-dashBlk {
		margin-top: 30px;
	}
}

.msgCount { font-size: 45px; }
.timeWorked { font-size: 38px; }
.clockstatus { font-size: 22px; }
.clockBtn { margin-top: 10px; }
.empInfoClockBtn { margin-top: 20px; }

/* ==========================================
	Private Messages
  ========================================== */
.isUnread { font-weight: 600; }
.preview-label { font-size: 14px; padding: 6px 12px; }
.msgHeading { text-transform: none; padding-bottom: 6px; }
.theDate { font-size: 18px; color: #999999; }
.msgContent { margin-top: 10px; }
.msgIcon { margin: 0 6px; }

.table { font-size: 14px; margin-bottom: 0; }
.table > thead > tr > th {
    border-bottom: 1px solid #f0f0f0;
    vertical-align: bottom;
	font-weight: 300;
	text-transform: uppercase;
}
.table > thead > tr > th, .table > tbody > tr > th, .table > tfoot > tr > th, .table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td {
    border-top: 0;
}

/* ==========================================
	My Profile
  ========================================== */
.empAvatar {
    background: none repeat scroll 0 0 #ffffff;
    box-shadow: 0 0 0 2px rgba(68, 68, 68, 0.1);
    max-height: 150px;
    max-width: 150px;
    width: 150px;
    padding: 4px;
}
.viewEmp {
    max-height: 110px;
    max-width: 110px;
    width: 110px;
}
.modalAvatar {
    background: none repeat scroll 0 0 #fcfcff;
    box-shadow: 0 0 0 2px rgba(68, 68, 68, 0.1);
    float: left;
    max-height: 90px;
    max-width: 90px;
    width: 90px;
    margin: 0 30px 10px 0;
    padding: 4px;
}
.profileInfo { min-height: 245px; }

/* ==========================================
	TimeZone Accordions
  ========================================== */
dl {
    margin-bottom: 15px;
    width: 100%;
}
dd {
    border: 1px solid #dcdcdc;
    float: left;
    margin-bottom: -1px;
    margin-left: 0;
    padding: 15px;
    width: 100%;
}
	dd:last-of-type { margin-bottom: 10px; }

dd p { font-size: 14px; }
	dd p strong { color: #555555; }
	dd p.updatedOn {
		color: #777777;
		font-size: 12px;
		margin-bottom: 10px;
	}

dt { font-weight: 300; }
	dt a {
		border: 1px solid #dcdcdc;
		cursor: pointer;
		display: inline-block;
		margin-bottom: -1px;
		padding: 5px 10px;
		font-size: 14px;
		font-weight: 400;
		text-decoration: none !important;
		width: 100%;
	}
	dt a:hover, dt a:focus { background: none repeat scroll 0 0 #f8f8f8; }
	dt a i { margin-right: 4px; }

dt.noneFound { background: #f0f0f0; }
	dt.noneFound a { cursor: default; color: #777777; }

dt span {
    color: #777777;
    float: right;
    font-size: 12px;
    text-shadow: 1px 1px 1px #ffffff;
}

/* ==========================================
	Pagination
  ========================================== */
.pagination {
    clear: both;
	display: inline-block;
    padding: 0;
	margin: 20px 0 0;
	border-radius: 0;
}
.pagination a {
    background-color: #f8f8f8;
    border: 1px #cccccc solid;
    color: #7d7d7d;
    font-size: 12px;
    height: 25px;
    padding: 4px 8px;
    text-decoration: none;
	margin: 2px;
}
.pagination a:hover, .pagination a:active {
    background: #ebebeb;
	border-color: #adadad;
	color: #ed8151;
}
.pagination span.current {
    background-color: #ffffff;
    border: 1px solid #bbbbbb;
    color: #333333;
    font-size: 12px;
    height: 25px;
    padding: 4px 8px;
    text-decoration: none;
	margin: 2px;
}
.pagination span.disabled {
    border: 1px solid #eeeeee;
    color: #999999;
    font-size: 12px;
    height: 25px;
    padding: 4px 8px;
    text-decoration: none;
	margin: 2px;
}

/* ==========================================
	Login
   ========================================== */
.loginCont {
	margin: 60px auto 0;
	background: #ffffff;
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
}

.login {
	padding: 10px 20px;
	margin-top: 0;
	margin-bottom: 20px;
}

.login .input-group span { background-color: #cccccc; min-width: 40px; color: #535a6c; }
	.login .input-group input {
		background-color: #ffffff;
		font-weight: 300;
	}

.login .input-group-addon {
	top: 0px;
	border-top: 2px solid #cccccc;
	border-right: none;
	border-bottom: 2px solid #cccccc;
	border-left: 2px solid #cccccc;
}
.login .form-control { border-left: none; }
	.login .form-control:hover {
	  border-color: #cccccc;
	  outline: 0;
	  -webkit-box-shadow: none;
			  box-shadow: none;
	  transition: border-color 0.5s ease-in-out;
	}
	.login .form-control:focus {
	  border-color: #bcbcbc;
	  outline: 0;
	  -webkit-box-shadow: none;
			  box-shadow: none;
	  transition: border-color 0.5s ease-in-out;
	}

.login h2 {
    border: medium none;
    font-size: 24px;
    font-weight: 300;
    margin: 5px 0 15px;
	letter-spacing: .06em;
}

.login p {
	font-weight: 300;
	margin-bottom: 0;
	margin: 20px 0 10px;
}

.login small { margin: 10px 0 10px 0; }
	.login small a {
		font-size: 14px;
		font-weight: 300;
	}
	.login small a i { margin-right: 2px; color: #999999; }

.login button {
	width: 100%;
	font-weight: 300;
	margin-bottom: 10px;
}

.login .booth {
	margin: 0 auto;
	margin-left: auto;
	margin-right: auto;
	display: block;
	text-align: center;
	min-width: 440px;
	min-height: 300px;
}

.btn.btn-login {
	background-color: #f0f0f0;
	color: #535a6c;
	border-color: #cccccc;
	border-bottom-color: #cccccc;
	transition: background 0.75s ease 0s;
}
.btn.btn-login:hover, .btn.btn-login:active, .btn.btn-login.hover {
	background-color: #ffffff !important;
	color: #3c424e !important;
	border-color: #cccccc !important;
	border-bottom-color: #cccccc !important;
}
